[submodule "3rd/devourer"]
	path = 3rd/devourer
	url = https://github.com/OpenIPC/devourer.git
[submodule "3rd/rtl8812au-monitor-pcap"]
	path = 3rd/rtl8812au-monitor-pcap
	url = https://github.com/TalusL/rtl8812au-monitor-pcap.git
